@{
    Layout = "_Layout";
}
@section Stylesheets {
    @await RenderSectionAsync("Stylesheets", required: false)
}
@section Scripts {

}

<div class="flexLayoutContainer">
    <div class="leftLayoutContainer">
        @RenderBody()
    </div>
    <div class="sidebar">
        <div class="sidebarItem"><a asp-page="/Category" asp-route-cateory="@ViewData["Category"]">Gaming</a></div>
        <div class="sidebarItem"><a asp-page="/Category" asp-route-cateory="@ViewData["Category"]">Sports</a></div>
        <div class="sidebarItem"><a asp-page="/Category" asp-route-cateory="@ViewData["Category"]">Politics</a></div>
        <div class="sidebarItem"><a asp-page="/Category" asp-route-cateory="@ViewData["Category"]">News</a></div>
    </div>
</div>