@page "/{category}"
@model CategoryModel
@{
    Layout = "_TwoColumn";
    ViewData["Title"] = $"Blogger - {Model.PageCategory}";
    //ViewData["Category"] = Model.PageCategory;
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}
@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}

<div class="contentContainer">
   @foreach(var article in Model.Articles) {
       <div class="article">
           <div class=headerContainer>
                <h2>@article.Title</h2>
                <small>@article.Category</small>
           </div>
           <small>@article.Author - @article.Timestamp</small>
           <p>@article.Text</p>
       </div>
   }
</div>
<div class="postForm">
    <form class="formInput" method="post">
      <ul class=formList>
        <li> 
            <label asp-for="Input.Author"></label>
            <input class="formControl" asp-for="Input.Author" />
            <span asp-validation-for="Input.Author"></span>
        </li>
        <li> 
            <label asp-for="Input.Title"></label>
            <input class="formControl" asp-for="Input.Title" />
            <span asp-validation-for="Input.Title"></span>
        </li>
        <li> 
            <label asp-for="Input.Text"></label>
            <textarea class="formTextControl" asp-for="Input.Text"></textarea>
            <span asp-validation-for="Input.Text"></span>
        </li>
        <li>
            <button class="btn-primary">Send</button>
        </li>
      </ul>
    </form>
</div>