@page
@model IndexModel
@{
    Layout = "_TwoColumn";
    ViewData["Title"] = "Blogger";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<div class="contentContainer">
   @foreach(var article in Model.Articles) {
       <div class="article">
           <div class=headerContainer>
                <h2>@article.Title</h2>
                <small>@article.Category</small>
           </div>
           <small>@article.Author - @article.Timestamp</small>
           <p>@article.Text</p>
       </div>
   }
</div>
